@model ShopOganicAPI.Models.Post
<style>
	label {
		font-size: 20px;
		color: forestgreen;
	}
</style>
@{
	ViewData["Title"] = "Create";
	Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}
@section Styles{
	<link href="~/Adminassets/summernote/summernote-bs4.css" rel="stylesheet" />
	<link href="~/Adminassets/summernote/summernote.css" rel="stylesheet" />
}
<h1>Post</h1>

<div class="page-header">
    <div class="header-sub-title">
        <nav class="breadcrumb breadcrumb-dash">
            <a asp-area="Admin" asp-controller="" class="breadcrumb-item"><i class="anticon anticon-home m-r-5"></i>Trang chủ</a>
            <span class="breadcrumb-item" href="#">Quản lý hệ thống</span>
            <a class="breadcrumb-item active" href="#">Quản lý bài viết</a>
        </nav>
    </div>
</div>
<form asp-controller="PostAdmin" asp-action="Create" method="post" enctype="multipart/form-data">
	<div asp-validation-summary="ModelOnly" class="text-danger"></div>
	<div class="page-header no-gutters has-tab">
		<div class="d-md-flex m-b-15 align-items-center justify-content-between">
			<div class="m-b-15">
				<button class="btn btn-primary">
					<i class="anticon anticon-plus-circle"></i>
					<span>Tạo mới tin tức</span>
				</button>
			</div>
		</div>
		<ul class="nav nav-tabs">
			<li class="nav-item">
				<a class="nav-link active" data-toggle="tab" href="#product-edit-basic">THÔNG TIN TIN TỨC</a>
			</li>

			<li class="nav-item">
				<a class="nav-link" data-toggle="tab" href="#product-edit-description">MÔ TẢ</a>
			</li>
		</ul>
	</div>
	<div class="tab-content m-t-15">
		<div class="tab-pane fade show active" id="product-edit-basic">
			<div class="card">
				<div class="card-body">
					<div class="form-group">
						<label class="font-weight-semibold" for="productName">Tiêu đề</label>
						<input type="text" class="form-control" asp-for="Title">
					</div>
					<div class="form-group">
						<label class="font-weight-semibold" >Category</label>
						@Html.DropDownList("CategoryID", (IEnumerable<SelectListItem>) ViewBag.lstCate,"Select Category", new { @class = "form-control" })

					</div>
					<div class="form-group">
						<label class="font-weight-semibold" for="productColors">Alias</label>
						<input type="text" class="form-control" asp-for="Alias">
					</div>
					<div class="form-group">
						<label class="font-weight-semibold" for="productFit">Tags</label>
						<input type="text" class="form-control" asp-for="Tags">
					</div>

					<div class="form-group">
						<label class="font-weight-semibold" for="productBrand">Ảnh đại diện</label>
						<input name="fThumb" type="file" class="form-control-file" asp-for="ImageUrl" />
						<span asp-validation-for="ImageUrl" class="text-danger"></span>
					</div>
					<div class="row">

						<div class="form-group d-flex align-items-center">
							<div class="checkbox">
								<input asp-for="IsHot" type="checkbox" />
								<label for="IsHot">IsHot</label>
							</div>
						</div>

					</div>

				</div>
			</div>
		</div>
		<div class="tab-pane fade" id="product-edit-option">
			<div class="card">
				<div class="card-body">
					<div class="form-group">
						<label class="font-weight-semibold" for="productColors">Alias</label>
						<input type="text" class="form-control" asp-for="Alias">
					</div>
					<div class="form-group">
						<label class="font-weight-semibold" for="productFit">Tags</label>
						<input type="text" class="form-control" asp-for="Tags">
					</div>
				</div>
			</div>
		</div>
		<div class="tab-pane fade" id="product-edit-description">
			<div class="card">
				<div class="card-body">
					<textarea class="summernote" asp-for="Contents"></textarea>
				</div>
			</div>
		</div>
	</div>
	<div class="form-group">
		<input type="submit" value="Create" class="btn btn-primary" />
	</div>

	<div>
		<a asp-action="Index">Back to List</a>
	</div>
</form>



@section Scripts{
	<script src="~/Adminassets/vendors/select2/select2.min.js"></script>
	<script src="~/Adminassets/js/pages/e-commerce-product-edit.js"></script>
	<script src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.19.1/jquery.validate.min.js"></script>
	<script src="~/Adminassets/summernote/summernote-bs4.js"></script>

	<script>

		jQuery(document).ready(function () {
			$('.summernote').summernote({
				fontNames: ['Arial', 'Arial Black', 'Comic Sans MS', 'Courier New'],
				styleTags: ['p', 'h1', 'h2', 'h3', 'h4', 'h5'],
				height: 200,
				minHeight: null,
				maxHeight: null,
				focus: true
			});
		});
	</script>
}
