@model ShopOganicAPI.Models.ShipMenthod
<style>
    label {
        font-size: 20px;
        color: forestgreen;
    }
</style>
@{
    ViewData["Title"] = "Edit";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}



<h4>ShipMenthod</h4>

<div class="page-header">
    <div class="header-sub-title">
        <nav class="breadcrumb breadcrumb-dash">
            <a asp-area="Admin" asp-controller="" class="breadcrumb-item"><i class="anticon anticon-home m-r-5"></i>Trang chủ</a>
            <span class="breadcrumb-item" href="#">Quản lý hệ thống</span>
            <a class="breadcrumb-item active" href="#">Quản lý ship</a>
        </nav>
    </div>
</div>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ShipMenthodID" class="control-label"></label>
                <input asp-for="ShipMenthodID" class="form-control" readonly/>
                <span asp-validation-for="ShipMenthodID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ShippingMenthodName" class="control-label"></label>
                <input asp-for="ShippingMenthodName" class="form-control" />
                <span asp-validation-for="ShippingMenthodName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ShipPrice" class="control-label"></label>
                <input asp-for="ShipPrice" class="form-control" type="number" step="any"/>
                <span asp-validation-for="ShipPrice" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Status" class="control-label"></label>
                <input asp-for="Status" class="form-control" />
                <span asp-validation-for="Status" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@*@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}*@
